# Python
backend/venv/
backend/__pycache__/
backend/routes/__pycache__/
backend/models/__pycache__/
backend/utils/__pycache__/
backend/tests/__pycache__/
backend/uploads/
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# Mac
.DS_Store
